---
import Layout from "../components/Layout.astro";
const pageTitle = "The Diamond Rental Living";
import { Image } from "astro:assets";
import moveIn from "../img/move-in.svg";
import courtyard from "../img/courtyard.jpg";
import liveBrilliantly from "../img/live-brilliantly.svg";
import diamondBuilding from "../img/diamond-rentals.jpg";
import { getImage } from "astro:assets";
import girlWithDrink from "../img/girl-with-drink.jpg";
const bgGirl = await getImage({ src: girlWithDrink });
---

<Layout {pageTitle}>
	<div class="video-container">
		<video class="video homepage" autoplay muted>
			<source src="/diamond-desktop.mp4" type="video/mp4" />
		</video>
	</div>
	<section class="container">
		<div class="grid-container">
			<div class="grid-x grid-padding-x" id="intro">
				<div class="cell small-18 medium-8" id="move-in">
					<div>
						<Image src={moveIn} class="wow slideInUp" data-wow-delay="0s" data-wow-duration="3s" loading="eager" alt="The Diamond - Move On In" />
					</div>
					<p>
						The Diamond is not just a building, but a purpose-built rental community with the Junction vibe, offering local flavour and a city feeling. Modern open concept <strong>1, 2 and 3 bedroom suites</strong> overlooking the city, while connecting you to every part of it with the TTC at your doorstep and just minutes to the subway, UP Express and GO Train.
					</p>
				</div>
				<div class="cell small-18 medium-10 background-img wow fadeIn" style={`background-image: url('${bgGirl.src}')`} data-wow-delay="1s" data-wow-duration="3s"></div>
			</div>
		</div>
	</section>

	<section class="container bottom">
		<div class="grid-container">
			<div class="grid-x grid-padding-x" id="tagline">
				<div class="cell small-18">
					<Image class="wow slideInUp" id="live" data-wow-delay=".5s" data-wow-duration="2s" src={liveBrilliantly} alt="The Diamond - Live Brilliantly" />
				</div>
				<div class="cell small-18 medium-6"></div>
				<div class="cell small-18 medium-12">
					<p>
						Don’t just live, shine! The Diamond is designed for a life well lived, from the <strong>24-hour concierge to Club D, an exclusive 20,000 sf fitness centre with an indoor pool, gym, sauna, party and multi-purpose rooms and even a pet spa</strong>, because they deserve the good life too. The Diamond is ready for you to move on in and bring a sparkle to everyday life.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="container bottom">
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="cell small-18">
					<Image class="wow slideInUp" data-wow-delay="0s" data-wow-duration="2s" src={courtyard} alt="The Diamond courtyard" />
				</div>
			</div>
		</div>
	</section>

	<section>
		<Image class="wow slideInUp" data-wow-delay="0s" data-wow-duration="3s" src={diamondBuilding} alt="The Diamond Rental Building" />
	</section>
</Layout>

<script is:inline>
	const video = document.querySelector(".video");
	const windowWidth = window.innerWidth;

	if (windowWidth > 800) {
		video.src = "/diamond-desktop.mp4";
	} else {
		video.src = "/diamond-mobile.mp4";
	}

	window.addEventListener("resize", (event) => {
		if (windowWidth > 800) {
			video.src = "/diamond-desktop.mp4";
		} else {
			video.src = "/diamond-mobile.mp4";
		}
	});
</script>
